<h2>School Class Form</h2>

<%= form_for(@school_class) do |f| %>
<label>Class title:</label><br>
<%= f.text_field :title %><br><br>

<label>Room number:</label><br>
<%= f.number_field :room_number %><br><br>

<%= f.submit %>
<% end  %>
